{% extends '::basePublic.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/person/css/login.css') }}">
{% endblock %}

{% block body %}
    <section class="login">
        <article>

            <h1>Login</h1>

            {% if error %}
                <div class="error">{{ error.message|trans }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <hr>
                <button type="submit" class="btn btn-primary pull-right">Login</button>
            </form>

        </article>
    </section>
{% endblock %}