{% extends '::basePublic.html.twig' %}

{% block title 'Registration' %}

{% form_theme form 'bootstrap_3_layout.html.twig' 'AnchorcardsBundle:Forms:form_components.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/person/css/security.css') }}">
{% endblock %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <section class="securityForm">
        <article>

            <h1>Registration</h1>

            To create an account, please complete and submit the form below.

            <br /><br />{{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form, {'attr': {'class': 'form-horizontal'}}) }}

        </article>
    </section>
{% endblock %}